<ion-header>
  <ion-toolbar color='danger'>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-item-group>
    <ion-item-divider color='danger'>
      <ion-label>Manager Name</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>{{manager.name}}</ion-label>
    </ion-item>

    <ion-item-divider color='danger'>
      <ion-label>Manager ID</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>{{manager.managerId}}</ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>